<ion-view view-title="Hype Or Nah">
    <ion-header-bar class="bar-positive">

      <h1 class="title">Hype Or Nah</h1>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader">
        <div class="tabs-icon-right">
            <a class="tab-item-hide">
                <div class="hype_header">Hype's</div>
                <div class="nah_header">Nah's</div>
            </a>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader">
        <places-list places-type="placesType" user-at-location="userAtLocation"></places-list>
    </ion-content>
    <!-- footer -->
    <ion-footer-bar align-title="left" class="bar-positive">
        <div class="button-bar">
          <a class="button" ng-class="{'button-hype': isActive(nightClubType)}"
            ng-click="setActive(nightClubType)">Clubs</a>
        <a class="button" ng-class="{'button-hype': isActive(barType)}"
            ng-click="setActive(barType)">Bars</a>
        <a class="button" ng-class="{'button-hype': isActive(greekType)}"
            ng-click="setActive(greekType)">Greek</a>
        </div>
    </ion-footer-bar>
</ion-view>