<ion-view view-title="Hype Or Nah">
    <ion-header-bar class="bar-positive test">
    <button class="button icon ion-gear-a" ng-click="optionsClicked()"></button>
        <h1 class="title">Hype <a style="color:#f20d74;">Or</a> Nah</h1>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader">
        <div class="tabs-icon-right">
            <a class="tab-item-hide">
                <div class="hype_header">Hype's</div>
                <div class="nah_header">Nah's</div>
            </a>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader">
        <div ng-if="userAtPlace" class="card">
            <p class="text">You are currently here. Please vote and comment!</p>
            <div ng-repeat="(userPlaceId, userPlc) in userPlace" class="item item-text-wrap">
              <div class="hype_align">{{userPlc.up_votes}}</div>
              <div class="nah_align">{{userPlc.down_votes}}</div>
              <div class="venue_align">
                  <button class="button button-small button-balanced" ng-click="upVote(userPlaceId)"><i class="icon ion-thumbsup"></i></button>
                <span style="margin-left: 25px; margin-right: 25px;">{{userPlc.name}}</span>
                <button class="button button-small button-assertive" ng-click="downVote(userPlaceId)"><i class="icon ion-thumbsdown"></i></button>
              </div>
              <div class="venue_align">
                <button class="button button-small button-stable" style="margin-top: 7px;" ng-click="venueClicked(userPlaceId, userPlc)">Post</button>
              </div>
            </div>
        </div>

        <!-- refresh content, loaded when list pulled down -->
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <!-- main list of places, TODO: should probably be a template? -->
        <ion-list>
          <ion-item ng-repeat="place in placesArr" ng-click="venueClicked(place.place_id, place)">
              <div class="hype_align">{{place.up_votes}}</div>
              <div class="nah_align">{{place.down_votes}}</div>
              <div class="venue_align">{{place.name}}</div>
          </ion-item>
        </ion-list>

        <!-- div to render Google Places Attributions -->
        <div id='mapsAttr'></div>
    </ion-content>
    <!-- footer -->
    <ion-footer-bar align-title="left" class="bar-positive">
        <div class="button-bar">
          <a class="button down" ng-class="{'button-hype': isActive(nightClubType)}"
            ng-click="setActive(nightClubType)">Clubs</a>
        <a class="button" ng-class="{'button-hype': isActive(barType)}"
            ng-click="setActive(barType)">Bars</a>
        <a class="button" ng-class="{'button-hype': isActive(greekType)}"
            ng-click="setActive(greekType)">Greek</a>
        </div>
    </ion-footer-bar>
</ion-view>