<div class="modal">
    <ion-header-bar>
        <h1 class="title">{{currPlace.name}}</h1>
        <button class="button button-icon" ng-click="closeVenueModal()">
            <i class="icon ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
        <img ng-src="{{lastPhoto}}" style="max-width: 100%">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name: </span>
                <input type="text" ng-model="contact.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Info: </span>
                <input type="text" ng-model="contact.info">
            </label>
        </div>
        <button class="button button-full button-energized" ng-click="closeModal()">Done</button>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="button-bar">
            <a class="button">Venue Details</a>
            <a class="button">Pictures</a>
            <a class="button">Video</a>
            <a class="button">Commments</a>
        </div>
    </ion-footer-bar>
</div>