<div class="modal">
    <ion-header-bar>
        <h1 class="title">{{currPlace.name}}</h1>
        <button class="button button-icon" ng-click="closeVenueModal()">
            <i class="icon ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <!-- MAIN VIEW -->
        <div ng-if="venueView == 'main'">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name: {{currPlace.name}}</span>
                </label>
                <label class="item item-input">
                    <span class="input-label textWrap">Address: {{currPlace.address}} </span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Rating: {{currPlace.rating}} </span>
                </label>
            </div>
        </div>

        <!-- PICTURES VIEW -->
        <div ng-if="venueView == 'pictures'">
            <ion-slide-box active-slide="myActiveSlide">
                <ion-slide>
                    <img src="img/club1.png" height="auto" width="auto">
                </ion-slide>
                <ion-slide>
                    <img src="img/club4.png" height="auto" width="auto">
                </ion-slide>
            </ion-slide-box>
            <div class="list">

                <label class="item item-input">
                    <span class="input-label">Comment: So fun and good music!</span>
                </label>
                <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
            </div>
        </div>

        <!-- COMMENTS VIEW -->
        <div ng-if="venueView == 'comments'">
            <label class="item item-input">
                <input type="text" ng-model="userComment.value" placeholder="Your comment: "/>
            </label>
            <center>
            <button style="margin-top: 15px; margin-bottom: 15px;" class="button button-energized" ng-click="submitComment()">Submit Comment</button>
        </center>
            <ion-list>
                <ion-item ng-if="currPlace.comments.length == 1">
                    <center> No comments yet! </center>
                </ion-item>
                <ion-item ng-if="currPlace.comments.length > 1 && comment.length > 0" ng-repeat="comment in currPlace.comments track by $index">
                    {{comment}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="button-bar">
            <a class="button" ng-click="mainClicked()" ng-class="{'active' : venueView=='main'}">Info</a>
            <a class="button" ng-click="picturesClicked()" ng-class="{'active' : venueView == 'pictures'}">Pictures</a>
            <a class="button" ng-click="commentsClicked()" ng-class="{'active' : venueView == 'comments'}">Commments</a>
        </div>
    </ion-footer-bar>
</div>