<div class="modal">
    <ion-header-bar>
        <h1 class="title">Location Settings</h1>
        <button class="button button-icon" ng-click="closeSettingsModal()">
            <i class="icon ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <center><button style="margin-top: 25px;"class="button button-positive" 
            ng-click="myLocClicked()">My Location</button></center>
        </br>
        </br>
        <h3> Or...</h3>
        <div class="list list-insert">
            <label class="item item-input">
                <input type="text" placeholder="Custom Location." ng-model="address"/>
            </label>
        </div>
        <center><button style="margin-top: 10px;" class="button button-positive"
            ng-click="searchLocEntered(address)">Submit</button></center>
    </ion-content>
</div>